<div id="comment-<%= comment.id %>" >
  <span style="width: 100%; background:#dff0d8">
    <%= comment.content %>
    <br>
  </span>
  <span class="timestamp">
    Commented by <%= comment.user.name %>
    <%= time_ago_in_words(comment.created_at) %> ago.
    <% if current_user?(comment.user) || current_user?(comment.image.user) %>
        <%= link_to "delete", comment, method: :delete, remote: true, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</div>