<% provide(:title, "Sign In") %>
<div class="main-container">
  <div class="signin">
    <h1>Sign In</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, placeholder: "Email Address", class: "form-control" %><br/>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
    </div>
    <div class="form-group">
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>
    </div>
    <div class="form-group">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("body").attr("style", "background-image: url(/assets/images/signup.jpg)");
  });
</script>