<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @image.file.profile_size.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<%= render "likes/like_form", image: @image %>
<strong id="likes"><%= @image.likes.count %></strong> likes


------------------------------------------------------------------------
<%= form_for([@image, current_user.comments.build], html: { multipart: true }, remote: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, :size => "40x2" %><br/>
    <button class="btn btn-primary" type="submit">Comment</button>
<% end %>
======================================================
<div class="comments">
<%= render @comments %>
</div>
<br/>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
